<main class="blog-main">
  <section class="blog__image-container">
    <% if (blog.imageUrl != null) { %>
      <img src="/assets/img/<%= blog.imageUrl %>" alt="<%= blog.imageAltText %>">
    <% } else { %>
      <img src="/assets/img/no-preview.svg" alt="">
    <% } %>
  </section>

  <section class="blog__text-container container">
    <h3>News</h3>
    <h1><%= blog.body %></h1>
    <p><%= blog.body %></p>
  </section>

  <section class="contact">
    <div class="contact__main-container container">
      <div class="contact__container">
        <img src="/assets/img/013-newsletter_a1023c3e-defc-4af7-8010-9172411f135f.png" alt="">
        <div>
          <a aria-describedby="message-description" href="#">Send a message</a>
          <p id="message-description">Reach out to the author of this blog and start a chat with them!</p>
        </div>
      </div>
      <div class="contact__container">
        <img src="/assets/img/006-like_cb942990-375a-4533-afe7-e9bb567ff7ab.png" alt="">
        <div>
          <a aria-describedby="link-description" href="#">Share this blog</a>
          <p id="share-description">Copy the link address of this blog to share it with others!</p>
        </div>
      </div>
    </div>
  </section>
</main>
