<footer>
  <p> Made by
    <a aria-label="Link to my LinkedIn profile" className="footer__link rounded"
      href="https://www.linkedin.com/in/joel-spinelli/" rel="noreferrer" target="_blank"
      title="Visit my LinkedIn profile">
      Joel Spinelli
    </a>
    with NodeJs, Express and
    <span role="img" aria-label="love"> ❤️ </span>
  </p>
</footer>