<header>
  <section class="header__icons-section">
      <div class="header__icons-container">
          <a href="#">
              <span class="sr-only">Go to my Facebook profile.</span>
              <span class="fimanager flaticon-001-facebook"></span>
          </a>
          <a href="#">
              <span class="sr-only">Go to my Twitter profile.</span>
              <span class="fimanager flaticon-002-twitter"></span>
          </a>
          <a href="#">
              <span class="sr-only">Go to my Instagram profile.</span>
              <span class="fimanager flaticon-011-instagram"></span>
          </a>
          <a href="#">
              <span class="sr-only">Go to my LinkedIn profile.</span>
              <span class="fimanager flaticon-010-linkedin"></span>
          </a>
          <a href="#">
              <span class="sr-only">Go to my Youtube channel.</span>
              <span class="fimanager flaticon-008-youtube"></span>
          </a>
      </div>
  </section>
  <nav>
      <div class="nav__logo-container">
          <a href="/" title="Go to home page">
              <span class="sr-only">Go to home page.</span>
              <img src="./assets/img/logo-negro_5e54ab1b-d3f0-47d9-a4d1-d1b4cf9ba825.png" alt="" />
          </a>
      </div>
      <div class="nav__link-container">
          <a href="/profile">About me</a>
      </div>
  </nav>
</header>