<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>

  <main class="blog-main">
    <section class="blog__image-container">
      <img src="./assets/img/cover_909cd27f-8eb3-4e9a-9cae-c5549009f6b5.png" alt="Close up photo of a plastic toy astronaut. Its helmet is reflecting computers and lights." />
    </section>
    <section class="blog__text-container container">
      <h3>News</h3>
      <h1>Blogpost title</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores illum ratione iusto. Ipsam molestiae
        ipsa minima? At eos officiis corporis quo temporibus voluptate quae quaerat atque vitae ipsum? Quo,
        placeat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum illum consectetur quaerat, harum
        repellat voluptatum quod odit facere? Ipsa fuga ipsam facilis neque sequi nam incidunt sapiente quod
        eaque nostrum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, modi. Odio minima debitis
        saepe quas pariatur officia voluptatibus facilis corporis voluptates quia perferendis, quam veritatis
        velit! Ut odio quo ipsa?
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae dolorem id praesentium perferendis
        explicabo unde pariatur iusto molestias autem delectus distinctio aliquam tenetur, qui modi velit ipsam
        cum corporis omnis!
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam distinctio rem quis iusto illo
        nemo, doloremque, culpa est quam harum molestiae fugiat quod. Veritatis, quibusdam consequatur. Ad,
        nostrum. Recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti porro
        voluptatibus cupiditate quas ipsam harum reprehenderit quis fugit ea distinctio incidunt ducimus fugiat
        quam, earum, asperiores facere, laborum itaque totam.
      </p>
    </section>

    <section class="contact">
      <div class="contact__main-container container">
        <div class="contact__container">
          <img src="./assets/img/013-newsletter_a1023c3e-defc-4af7-8010-9172411f135f.png" alt="">
          <div>
            <a aria-describedby="message-description" href="#">Send a message</a>
            <p id="message-description">Reach out the author of this blog and start a chat with them!</p>
          </div>
        </div>
        <div class="contact__container">
          <img src="./assets/img/006-like_cb942990-375a-4533-afe7-e9bb567ff7ab.png" alt="">
          <div>
            <a aria-describedby="link-description" href="#">Share this blog</a>
            <p id="share-description">Copy the link address of this blog to share with others!</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>