<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>

  <main class="home-main">
    <section>
      <div class="main__text-container">
        <h1>Share your opinion with the rest of the Tech World</h1>
      </div>
      <a class="main__button" href="/blogs">Enter now!</a>
    </section>
  </main>
</body>

</html>