<main class="home-main">
  <section>
    <div class="main__text-container">
      <h1>Share your opinion with the rest of the Tech World</h1>
    </div>
    <a class="project-continue-button" href="/blogs">Enter now!</a>
  </section>
</main>
