<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  
  <main>
    <section class="about-me">
      <div class="about-me__container container">
        <div>
          <img src="./assets/img/profile-pic_b5d309b7-3b97-4aa5-9025-6be618e88c13.jpg"
            alt="Picture of the creator of M I Blog, standing on a crowded street.">
        </div>
        <div>
          <h2>Hello!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga mollitia, libero necessitatibus
            illum
            aliquid dignissimos hic facere obcaecati aliquam eaque unde nobis. Neque quaerat libero magnam
            obcaecati ipsum autem modi.</p>
          <div>
          </div>
        </div>
      </div>
    </section>
    <section class="profile-projects">
      <div class="container">
        <h2>Projects</h2>
        <div class="profile-projects__container">
          <article class="project-container">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non odio modi delectus in est
              explicabo, repellat cum aliquam recusandae a voluptas quia quam reprehenderit saepe, ea ad,
              eaque praesentium quaerat?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, cum. Placeat hic numquam
              quam eos, ratione vero! Officiis doloremque, accusantium provident qui repudiandae iusto ab
              laudantium. Cupiditate itaque excepturi veritatis?
            </p>
          </article>
          <article class="project-container">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non odio modi delectus in est
              explicabo, repellat cum aliquam recusandae a voluptas quia quam reprehenderit saepe, ea ad,
              eaque praesentium quaerat?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit consectetur possimus quidem
              eveniet, esse porro tempora natus, quas, voluptatibus beatae id delectus adipisci voluptatum
              asperiores optio eligendi eaque totam ea?</p>
          </article>
          <article class="project-container">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non odio modi delectus in est
              explicabo, repellat cum aliquam recusandae a voluptas quia quam reprehenderit saepe, ea ad,
              eaque praesentium quaerat?</p>
          </article>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>