@media (max-width: 800px) {
  /* CONTACT */
  .contact {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  /* HOME */
  .home-main {
    display: block;
  }
  
  .main__text-container {
    padding: 7rem;
    padding-bottom: 5rem;
  }
  
  /* PROFILE */
  .about-me__container {
    flex-wrap: wrap;
  }
  
  .about-me__container img {
    width: 100%;
  }
  
  .profile-projects__container {
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-projects {
    padding: 0 1.5rem 3rem;
  }
  
  /* BLOGS */
  .hero-section__container {
    grid-template-columns: 1fr;
  }
  
  .hero-section__image {
    max-height: 30rem;
  }
  
  .hero-section__text-container {
    text-align: center;
  }
  
  .hero-section__right {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  /* SELECTED BLOG */
  .selected-blog__main-content {
    flex-direction: column-reverse;
  }
  
  .selected-blog__image-container {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 520px) {
  /* HOME */
  .main__text-container {
    font-size: 1.7rem;
  }
  
  /* PROFILE */
  .profile-projects__container {
    grid-template-columns: 1fr;
  }

  /* SELECTED BLOG */
  .selected-blog-main__heading {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  
  .selected-blog__main-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .selected-blog__image-container {
    max-width: unset;
  }
}

@media (max-width: 450px) {
  .blogpost-list__search-input-container button,
  .blogpost-list__search-input-container input {
    width: 100%;
  }
}

@media (max-width: 390px) {
  /* HEADER */
  nav {
    justify-content: center;
    padding-top: 2rem;
  }
  
  /* BLOGS */
  .blogpost-list {
    padding: 0 2.5rem;
  }
  
  /* FOOTER */
  footer {
    padding-bottom: 0.75rem;
    padding-top: 1.25rem;
  }
}
